@using Chirp.Core.DTO
@model CheepDTO
@inject SignInManager<Author> SignInManager

@{
    var DislikingIds = ViewData["Dislikes"] as List<string>;
    
    bool hasDisliked = DislikingIds != null && DislikingIds.Contains(Model.Id);
    
    bool isMe = User.Identity?.Name == Model.Author.Username;
}

@if (SignInManager.IsSignedIn(User) && !isMe)
{
    @if (hasDisliked)
    {
        <form method="post" asp-page-handler="UnDislike" asp-route-cheepId="@Model.Id" value="@Model.Id" style="display: inline;">
            <button type="submit" class="btn btn-link p-0 m-0" style="font-size: 0.9em; vertical-align: baseline;">
                Undislike 
            </button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Dislike" asp-route-cheepId="@Model.Id" value="@Model.Id" style="display: inline;">
            <button type="submit" class="btn btn-link p-0 m-0" style="font-size: 0.9em; vertical-align: baseline;">
                Dislike 
            </button>
        </form>
    }
}

