@using Chirp.Core.DTOs
@model CheepDTO

@inject SignInManager<Author> SignInManager

@{
    var followingIds = ViewData["Following"] as List<string>;
    
    bool isFollowing = followingIds != null && followingIds.Contains(Model.Author.Id);
    
    bool isMe = User.Identity?.Name == Model.Author.Username;
}

@if (SignInManager.IsSignedIn(User) && !isMe)
{
    @if (isFollowing)
    {
        <form method="post" asp-page-handler="Unfollow" asp-route-authorId="@Model.Author.Id" style="display: inline;">
            <button type="submit" class="btn btn-link p-0 m-0" style="font-size: 0.9em; vertical-align: baseline;">
                Unfollow
            </button>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Follow" asp-route-authorId="@Model.Author.Id" style="display: inline;">
            <button type="submit" class="btn btn-link p-0 m-0" style="font-size: 0.9em; vertical-align: baseline;">
                Follow
            </button>
        </form>
    }
}