@model Chirp.Core.DTO.CheepDTO
@inject SignInManager<Author> SignInManager

@{
    var likedCheeps = ViewData["LikedCheeps"] as List<int>;
    bool hasLiked = likedCheeps != null && likedCheeps.Contains(Model.Id);
    bool isMe = User.Identity?.Name == Model.Author.Username;
    var numberOfLikes = Model.Likes.Count;
    var heartFilled = $"❤️ {numberOfLikes}";
    var heartEmpty = $"🤍 {numberOfLikes}";
    
}

@if (SignInManager.IsSignedIn(User) && !isMe)
{
    @if (hasLiked)
    {
        <form method="post" asp-page-handler="Unlike" asp-route-cheepId="@Model.Id" value="@Model.Id"  style="display: inline;">
        <button style="background:transparent;padding:0;color: black;">
            @heartFilled
        </button>
        </form> 
    }
    else
    {
        <form method="post" asp-page-handler="Like" asp-route-cheepId="@Model.Id" value="@Model.Id" style="display: inline;">
            <button style="background:transparent;padding:0;color: black;">
                @heartEmpty
            </button>
        </form>
    }
} else if (!SignInManager.IsSignedIn(User))
{
    <a style="background:transparent;padding:0;color: black;text-decoration:none;" href="/Identity/Account/Login">
        @heartEmpty
    </a>
}
