@using Chirp.Core.DTO
@model AuthorDTO
@inject SignInManager<Author> SignInManager

@{
    var LikingIds = ViewData["Likes"] as List<string>;
    
    bool hasLiked = LikingIds != null && LikingIds.Contains(Model.Author.Id);
    
    bool isMe = User.Identity?.Name == Model.Author.Username;
}

@if (SignInManager.IsSignedIn(User) && !isMe)
{
    @if (hasLiked)
    {
        <form method="post" asp-page-handler="UnLike" asp-route-authorId="@Model.Author.Id" style="display: inline;">
            <a class="btn btn-danger btn-sm" asp-page="/Order" asp-route-id="@Model.Cheep.CheepId">Order Now</a>
        </form>
    }
    else
    {
        <form method="post" asp-page-handler="Like" asp-route-authorId="@Model.Author.Id" style="display: inline;">
            <button type="submit" class="btn btn-link p-0 m-0" style="font-size: 0.9em; vertical-align: baseline;">
                Like 
            </button>
        </form>
    }
}
