name: release chirp executable

permissions:
  contents: write

on:
  push:
   branches:
      - main
      - temp

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: Chekout
      uses: actions/checkout@v5
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
  tag:
    name: Generate tag for release
    needs: build
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v2
      - id: tag
        name: Create Tag
        run: |
          TAG="v${{ github.run_number }}"
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag -a "$TAG" -m "Release $TAG"
          git push origin "$TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

  prep-release: 
    name: Prepare GitHub Release
    needs: tag
    
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.tag.outputs.tag_name }}
          name: Release ${{ needs.tag.outputs.tag_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
  
  
  release:
    name: Release
    needs: prep-release
    
    strategy:
      matrix: 
        os: [ 'linux-x64', 'osx-x64', 'win-x64' ] 
    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Publish and package
        shell: bash 
        run: | 
          release_name="Chirp-${{ needs.tag.outputs.tag_name }}-${{ matrix.os }}"
          dotnet publish "./src/Chirp.Web/Chirp.Web.csproj" -r "${{ matrix.os }}" -o "${release_name}" --sc false -p:PublishSingleFile=True
          
          7z a "${release_name}.zip" "${release_name}/."
          7z d "${release_name}.zip" "*.pdb"
          
          rm -r "${release_name}"

      - name: Populate GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.tag.outputs.tag_name }}
          files: "Chirp-*" 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
