name: release chirp executable

permissions:
  contents: write

on:
  push:
   branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - name: Chekout
      uses: actions/checkout@v5
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Create Tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git tag -a "v${{ github.run_number }}" -m "Release v${{ github.run_number }}"
          git push origin "v${{ github.run_number }}"

  prep-release: 
    name: Prepare GitHub Release
    needs: build
    
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
  
  
  release:
    name: Release
    needs: prep-release
    
    strategy:
      matrix: 
        os: [ 'linux-arm64', 'linux-x64', 'osx-arm64', 'osx-x64', 'win-arm64', 'win-x64' ] 
    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Publish and package
        shell: bash 
        run: | 
          release_name="Chirp-${{ github.ref_name }}-${{ matrix.os }}"
          dotnet publish "Chirp.CLI/Chirp.CLI.csproj" -r "${{ matrix.os }}" -o "${release_name}" --sc false -p:PublishSingleFile=True
          
          7z a "${release_name}.zip" "${release_name}/."
          7z d "${release_name}.zip" "*.pdb"
          
          rm -r "${release_name}"

      - name: Populate GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "Chirp-*" 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
